body{
	margin: 0;
	padding: 0;
	font-family: Helvetica,Arial;
	font-size: 8pt;
}

#head{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	background-color: #f0f0f0;
	
	font-weight: bold;

	border-bottom-color: #B5B5B5;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#head_title{
	float: left;
	padding-left: 10px;
	/* padding-top: 4px; */
}

#head a{
	float: right;
	padding-right: 10px;
	padding-top: 4px;
}

#main{
	position: absolute;
	top: 21px;
	bottom: 114px;
	left: 0;
	right: 0;
	background-color: #fff;
}

#foot{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 113px;
	
	background-color: #f0f0f0;

	border-top-color: #b5b5b5;
	border-top-width: 1px;
	border-top-style: solid;
}

#query{
	float: left;
	width: 36%;
	height: 112px;
	
	background-color: #ccc;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(181,181,181)),
		color-stop(1, rgb(224,224,224))
	);
	background-image: -moz-linear-gradient(
		center bottom,
		rgb(181,181,181) 0,
		rgb(224,224,224) 111pt,
		rgb(256,256,256) 112pt,
	);

	border-top-color: #F0F0F0;
	border-top-width: 1px;
	border-top-style: solid;

	border-right-color: #B5B5B5;
	border-right-width: 1px;
	border-right-style: solid;
}
	
#query_query{
	float: left;
	height: 112px;
	width: 70%;
}

#query_top{
	width: 100%;
	height: 65%;
}

#query_top *{
	margin-top: 15px;
}

#query_top label{
	padding-left: 16px;
	font-family: Collegiate,Helvetica,Arial;
	font-size: 26pt;
	width: 45%;
}

#query_top input{
	padding-right: 10px;
	font-size: 20pt;
	
	width: 45%;
}

#query_bottom{
	width: 100%;
	height: 35%;
}

#query_bottom span{
	float: left;
	width: 40%;
}

#query_bottom #query_size_span{
	margin-left: 16px;
}

#query_bottom #query_color_span{
	margin-left: 16px;
}

#query_bottom select{
	width: 105px;
}

#query_properties{
	
}
		
#query_buttons{
	float: left;
	width: 30%;
	height: 100%;
}
		
#query_buttons input:hover{
	color: #000;
}

#query_buttons input{
	display: block;
	color: #666;
	border: 0;
	background-color: transparent;}

input.edges{
	height: 36px;
	padding-left: 28px;
	background: url("../images/edges.png") no-repeat 0 50%;
}

input.labels{
	height: 36px;
	padding-left: 28px;
	background: url("../images/labels.png") no-repeat 0 50%;
}

input.fisheye{
	height: 36px;
	padding-left: 28px;
	background: url("../images/fisheye.png") no-repeat 0 50%;
}


#legend{
	float: left;
	height: 112px;
	
	min-width: 30%;
	max-width: 31%;

	border-top-color: #FFF;
	border-top-width: 1px;
	border-top-style: solid;

	border-left-color: #B5B5B5;
	border-left-width: 1px;
	border-left-style: solid;
}


#legend_elements{
	width: 100%;
	height: 75%;
}

.button{
	display: block;
}

/*profile information*/

#infobox{
   float: left;
   height: 112px;
   width: 32%;

   border-top-color: #FFF;
   border-top-width: 1px;
   border-top-style: solid;
}

#info_graph {
   height:22px;
   padding-left: 0.8em;
   font-size: 10px;
   border-bottom:1px solid #bedce7;   
}

#user {
}

#gravatar{
   width: 90px;
   padding: 2px;
   float:left;
}

#gravatared {
   border:1px solid #d0d0d0;
   background-color:white;
   margin-right:4px;
   margin-left:4px;
}

#user_info {
   padding:.8em 0 .8em 1.2em;
   border-left:1px solid #bedce7;
   float: left;
   color:#808080;;
   font-size:.85em;
   line-height:1.5em;
}

#error{
   padding-left: 0.8em;
   padding-top: 2em;
}

#legend_title {
   height:22px;
   padding-left: 0.8em;
   font-size: 10px;
   border-bottom:1px solid #bedce7;   
}

/* static pages */
#static {
   margin: 0 auto;
   width: 920px;
   padding: 0 15px;
   font-size: 14px;
};

h1 {
   display:bl2ck;
};
